@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

/* Opcional: Estilo suave para los scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #F28C8C; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E07A7A; 
}
